---
import LanguageChange from "../LanguageChange.astro"

const { infoNavbar } = Astro.props

console.log(infoNavbar[0].aboutme)
---

<header class="h-20 sticky top-0 backdrop-blur z-20">
    <nav class="h-full flex flex-row justify-around items-center">
        <div class="flex flex-row justify-center items-center space-x-4 text-ctp-peach">
            <i class="fa-solid fa-terminal text-2xl"></i>
            <p class="font-bold text-2xl">Dario</p>
        </div>
        <ul class="hidden lg:flex flex-row items-center space-x-6 text-white font-bold underline underline-offset-8">
            <li><a href="#aboutMe" id="aboutme" data-en="About Me" data-es="Sobre mí">{infoNavbar[0].aboutme}</a></li>
            <li><a href="#projectS" id="projects" data-en="Projects" data-es="Proyectos">{infoNavbar[0].proyects}</a></li>
            <!-- <li><a href="#serviceS" id="services" data-en="Services" data-es="Servicios">{infoNavbar[0].services}</a></li> -->
            <li><a href="#contacT" id="contact" data-en="Contact" data-es="Contacto">{infoNavbar[0].contact}</a></li>
        </ul>
        <div class="space-x-6">
            <LanguageChange linkButton={infoNavbar[0].button} buttonText={infoNavbar[0].buttonText}/>
        </div>
        <!-- NAVBAR EN MOBILE -->
        
    </nav>
</header>

<style>
    ul {
        height: 2.5rem;
    }

    header {
        color: white;
    }
</style>


