---
import { Icon } from "astro-icon/components";
import { getI18N } from "../../i18n";
import CardServices from "../card/CardServices.astro";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

const servicePage = i18n.ServicePage;
const services = servicePage.SERVICES;
---

<main class="h-screen w-full flex items-center justify-center">
  <section class="w-11/12 h-5/6 flex flex-col items-center justify-around">
    <div class="w-full text-center text-ctp-text font-bold flex flex-col gap-4">
      <p class="text-5xl">
        {servicePage.TITLE[0]}
        <span class="text-ctp-peach">{servicePage.TITLE[1]}</span>{
          servicePage.TITLE[2]
        }
      </p>
      <p class="text-4xl">
        {servicePage.TITLE[3]}
        <span class="text-ctp-peach">{servicePage.TITLE[4]}</span>
      </p>
    </div>
    <div class="w-full flex justify-around">
      {services.map((service) => <CardServices service={service} />)}
    </div>
    <p class="text-ctp-text">
      {servicePage.PHRASE}
    </p>
  </section>
</main>
